.wrapper-donde-encontrarnos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
}

.wrapper-donde-encontrarnos .titulo-donde-encontrarnos {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
}

.datos-donde-encontrarnos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.icono-datos-donde-encontrarnos {
    width: 10%;
    height: auto;
}

.texto-donde-encontrarnos {
    font-size: 1rem;
    width: 26ch;
    margin: 10px;
    font-weight: normal;
}

.whatsapp-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}

.whatsapp-link:hover {
    color: inherit;
}

@media (width > 425px) {
    .wrapper-donde-encontrarnos {
        justify-content: center;
        justify-items: center;
        height: 50%;
    }

    .datos-donde-encontrarnos {
        width: 60%;
    }

    .whatsapp-link {
        width: 70%;
        text-align: center;
    }

    .texto-donde-encontrarnos {
        width: 40ch;
    }

}