.formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label-contacto {
    font-size: 1rem;
    color: #054b64;
    font-weight: bold;
}

.Obligatorio {
    font-size: 0.8rem;
    color: #054b64;
    font-weight: bold;
    text-align: center;
}

.input-contacto,
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    outline: none;
}

.input-contacto:focus,
textarea:focus {
    border-color: #054b64;
    box-shadow: 0 0 4px rgba(5, 75, 100, 0.3);
}

textarea {
    height: 100px;
    resize: none;
}

.btn-enviar {
    padding: 0.8rem;
    background-color: #054b64;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #04384b;
}