.btn-menu {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border: 0;
    gap: 6px;
    cursor: pointer;
    z-index: 12;
    position: fixed;
    top: 20px;
    right: 20px;
}

.btn-menu div {
    background: #ffffff;
    height: 3px;
    width: 88%;
    border-radius: 5px;
    transition: transform 0.5s, opacity 0.5s;
    transform-origin: left;
}

/* Animaciones del botón al abrir/cerrar */
.btn-menu.open div:first-child {
    transform: rotate(45deg);
}

.btn-menu.open div:nth-child(2) {
    opacity: 0;
}

.btn-menu.open div:last-child {
    transform: rotate(-45deg);
}

/* Estilos del menú */
.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ece8db;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-20px);
    opacity: 0;
    z-index: 10;
}

.menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
}

/* Estilos de navegación */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    margin-bottom: 1.5rem;
    font-size: x-large;
}

.menu li:last-child {
    margin-bottom: 0;
}

.menu a {
    text-decoration: none;
    color: #054b64;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #007BFF;
}