.wrapper-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 70% 15%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-bottom: 20px;
    gap: 10px;
    width: 100%;
    height: 100%;
}


.wrapper-sobre-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-image: url(../assets/Statics/Fondos/bannerSomos.webp.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px 0px;
}

.wrapper-sobre-nosotros h1 {
    font-size: 2.5rem;
}

.imagen-sobre-nosotros {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.titulo-sobre-nosotros {
    color: white;
    height: 16%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}



.titulo-sobre-nosotros span {
    color: #a88f4c;
}



.seccion-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: auto;
    width: 100%;
    gap: 10px;
}

.imagen-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imagen-nosotros img {
    width: 90%;
    max-height: 90%;
    height: auto;
    border-radius: 0px 30px 0px 30px;
}

.wrapper-contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50vh;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.wrapper-contenido-nosotros div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #d4dadd;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    box-shadow: 6px 6px 15px rgba(128, 140, 153, 0.5);
    /* Sombra con color ligeramente más oscuro */
}


.wrapper-contenido-nosotros div img {
    width: 20%;
    height: auto;

}


.wrapper-contenido-nosotros div .titulo-contenido {
    font-size: small;
    text-align: center;
    font-weight: normal;
    margin: 5px;
}

.btn-nosotros {
    height: fit-content;
}

.btn-nosotros a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #054b64;
    color: white;
    width: 100%;
    height: fit-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    gap: 10px;
}



@media (width > 425px) {
    .wrapper-nosotros {
        padding-bottom: 30px;
    }

    .seccion-nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        gap: 0px;
    }

    .wrapper-contenido-nosotros {
        max-width: 37vw;
    }

    .btn-nosotros a {
        width: fit-content;
    }

}